$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1200px;

$primary-color: rgb(71, 38, 116);
$secondary-color: rgb(141, 117, 171);
$tertiary-color: rgb(74, 41, 114);
$quaternary-color: #2d134d;
$complementary-color: rgb(226, 217, 114);

$warning-color: #f0afb6;